div.popup{
    position: fixed;
    z-index: 5;
    display:none;
}






div.blur{
    position:fixed;
    width: 100%;
    height:100%;
    top: 0%;
    left:0%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.648);
    backdrop-filter: blur(4px);
    display:none;
}

button.closebuttonn{
    float:right;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0);
    border:0px;
    font-size: large;

}

#shop{
    background-color: rgba(215, 213, 167, 0);
    border-radius: 5px;
    top:15%;
    left:25%;
    width:50%;
    height:66.5%;
    overflow: hidden;
}

#monarchalbum{
    background-color: rgba(255, 0, 140, 0);
    top:15%;
    left:25%;
    width:50%;
    height:50%;
}

#lostalbum{
    background-color: rgb(15, 97, 144);
    top:25%;
    left:25%;
    width:50%;
    height:50%;
}

#boxedinalbum{
    background-color: rgba(194, 83, 83, 0);
    top:15%;
    left:25%;
    width:50%;
    height:50%;
}

#nvnalbum{
    background-color: rgb(83, 123, 48);
    top:25%;
    left:25%;
    width:50%;
    height:50%;
}

#tourpage{
    background-color: rgb(194, 83, 83);
    top:25%;
    left:25%;
    width:50%;
    height:50%;
}