<!DOCTYPE html>
<html>

<head>
    <title>DESOLATE</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/mainpage.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/popups.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/pops.css')}}">
    <script src="{{ url_for('static', filename='js/stuff.js') }}"></script>
</head>

<body>
    <div class="content">
        <img class="bg" src="{{url_for('static',filename='assets/background.png')}}"></img>

        <img class="clickables" id="wardrobe" src="{{url_for('static',filename='assets/wardrobe.png')}}"
            onclick="toggle_popup('shop')"></img>

        <img class="clickables" id="boxes" src="{{url_for('static',filename='assets/boxes.png')}}"
            onclick="toggle_popup('boxedinalbum')"></img>

        <img class="clickables" id="computer" src="{{url_for('static',filename='assets/computer.png')}}"
            onclick="toggle_popup('monarchalbum')"></img>

        <img class="clickables" id="tshirt" src="{{url_for('static',filename='assets/tshirt.png')}}"
            onclick="toggle_popup('lostalbum')"></img>

        <img class ="clickables" id="nvn" src="{{url_for('static',filename='assets/sticker.png')}}"
            onclick="toggle_popup('nvnalbum')"></img>
            
        <img class ="clickables" id="poster" src="{{url_for('static',filename='assets/paperrrr.png')}}"
            onclick="toggle_popup('tourpage')"></img>

        <a href="https://researchballad-ik.my.canva.site/add-a-little-bit-of-body-text"><img class="clickables" id="secondpage" src="{{url_for('static',filename='assets/secondpage.png')}}"></img></a>




        <div class="blur" id="blurbg"></div>

        <div id="shop" class="popup" style="border: 5px solid #2C1708;"> <!--wardrobe-->
            
            <div style="position:relative;width: 100%;height:100%;z-index: 10;background-color: rgba(0, 0, 0, 0);">
                <button style="position:absolute;top:0;height:5%;width:5%;left:0;z-index: 9000;" onclick="toggle_popup('shop')">X</button>
                <img src="{{url_for('static',filename='assets/shoppop.png')}}" style="height:100%;position: absolute;"></img>
                <div style="background-color: rgba(0, 0, 255, 0);z-index: 1000;"class="wardrobescroll">
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchbag.png')}}" style="height:100%;"></img>
                    </div>
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchbox1.png')}}" style="height:100%;"></img>
                    </div>
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchbox2.png')}}" style="height:100%;"></img>
                    </div>
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchhoodie.png')}}" style="height:100%;"></img>
                    </div>
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchlost1.png')}}" style="height:100%;"></img>
                    </div>
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchlost2.png')}}" style="height:100%;"></img>
                    </div>
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchmonarch1.png')}}" style="height:100%;"></img>
                    </div>
                    <div class="merch">
                        <img src="{{url_for('static',filename='assets/merchmonarch2.png')}}" style="height:100%;"></img>
                    </div>
                </div>
            </div>
            shop
        </div>


        <div id="lostalbum" class="popup"> <!--t-shirt-->
            <button class="closebutton" onclick="toggle_popup('lostalbum')">X</button>
            <div style="position:relative;width: 100%;height:100%;z-index: 10;background-color: rgba(165, 42, 42, 0);">
                <img src="{{url_for('static',filename='assets/lostpopup.png')}}" style="width:100%;position: absolute;"></img>
            </div>
        </div>


        <div id="monarchalbum" class="popup">  <!--computer-->
            <button class="closebutton" onclick="toggle_popup('monarchalbum')">X</button>
            <div style="position:relative;width: 100%;height:100%;z-index: 10;background-color: rgba(165, 42, 42, 0);">
                <img src="{{url_for('static',filename='assets/monarchpop1.png')}}" style="width:100%;position: absolute;"></img>
            </div>
        </div>


        <div id="boxedinalbum" class="popup"> <!--boxes-->
            <button class="closebutton" onclick="toggle_popup('boxedinalbum')">X</button>
            <div style="position:relative;width: 100%;height:100%;z-index: 10;background-color: rgba(165, 42, 42, 0);">
                <img src="{{url_for('static',filename='assets/boxedinpopup2.png')}}" style="width:100%;position: absolute;"></img>
            </div>
        </div>


        <div id="nvnalbum" class="popup"> <!--flowers-->
            <button class="closebutton" onclick="toggle_popup('nvnalbum')">X</button>
            nvn
        </div>

        <div id="tourpage" class="popup"> <!--poster-->
            <button class="closebutton" onclick="toggle_popup('tourpage')">X</button>
            tour
        </div>


    </div>
</body>

</html>